/* hachi-maru-pop-regular - latin_cyrillic */
@font-face {
    font-family: 'Hachi Maru Pop';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/hachi-maru-pop-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/hachi-maru-pop-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */

    src: local(''),
         url('./fonts/hachi-maru-pop-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/hachi-maru-pop-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/hachi-maru-pop-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/hachi-maru-pop-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/hachi-maru-pop-v15-latin_cyrillic-regular.svg#HachiMaruPop') format('svg'); /* Legacy iOS */
  }

/* rampart-one-regular - latin_cyrillic */
@font-face {
    font-family: 'Rampart One';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/rampart-one-v5-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/rampart-one-v5-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/rampart-one-v5-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/rampart-one-v5-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/rampart-one-v5-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/rampart-one-v5-latin_cyrillic-regular.svg#RampartOne') format('svg'); /* Legacy iOS */
  }

html{
    box-sizing: border-box;
    height: 100%;
    
}

*, *::after, *::before {
    box-sizing: inherit;
}

body{
    height: 100%;
    font-family: 'Hachi Maru Pop';
    font-size: 20pt;
    --main-color: #ffdc00;
    background-color:rgb(253, 230, 230);
}

.container{
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background: var(--main-color);
    color: #000;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px #fff;
}

.header__logo{
    width: 150px;
    height: 75px;
    margin: 0 20px;
    background: url(./assets/png/logo.png);
    background-size: cover;
}

.header__title {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.general {
    width: 100%;
    max-height: 100%;
    flex: 1 1 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.memory-game{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border: 10px solid var(--main-color);
    box-shadow: 0px 0px 10px #fff;
}

.game-field {
    max-width: 1100px;
    min-height: 1100px;
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(25% - 20px) ;
    height: calc(25% - 20px) ;
    margin: 10px;
    border: 7px solid var(--main-color);
    background-position:center;
    perspective: 800px;
    transform-origin: center;
    backface-visibility: hidden;
}

.rotate {
    animation-name:  rotate;
    animation-duration: 0.5s;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.card__close {
    background: url(./assets/png/Shirt.png);
}

.menu{
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: stretch;
    padding: 20px 0;
    padding-right: 20px;
}

.menu__button {
    max-width: 180px;
    height: 50px;
    position: relative;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    color: #382b22;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Rampart One';
    font-size: inherit;
    padding: 5px;
    background: #fffd97;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}

.menu__button:last-child {
    margin-bottom: 15px;
}

.menu__button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e6c700;
    border-radius: inherit;
    transform: translate3d(0, 10px, -20px);
    box-shadow:  0 10px 0 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.15s, box-shadow 0.15s;
}

.menu__button:hover {
  background: var(--main-color);
}

.menu__button:active {
    background: #fffd97;
    transform: translate(0, 10px);
  }
.menu__button:active::before {
    box-shadow:  0 0 #ffe3e2;
    transform: translate3d(0, 10px, -20px);
}

.menu__button-sound-on {
    background: #fffd97;
    transform: translate(0, 10px);
}
.menu__button-sound-on::before {
    box-shadow:  0 0 #ffe3e2;
    transform: translate3d(0, 10px, -20px);
}

.menu__body {
    max-width: 180px;
    margin: 0;
    padding: 10px 0;
    background: var(--main-color);
    border-radius: 10px;
    text-align: center;
}

.footer { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px;
    padding: 20px;
    background-color: var(--main-color);
    color: #000;
    box-shadow: 0px 0px 10px #fff;
}

.footer__link,
.footer__link:active,
.footer__link:visited {
    color: inherit;
    text-decoration: none;
}

.footer__link:hover {
    color: rgb(253, 230, 230);
    font-weight: 800;
    transition: 0.5s;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.popup__visible {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.popup__module {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}
    
.popup__content {
    max-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--main-color);
    border: 5px solid #000;
    text-align: center;
}
.popup__title {
    font-size: 30pt;
    border-bottom: 3px solid #000;
}
.popup__text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
    text-align: center;
    
}
.popup__text div{
    width: calc(50% - 20px);
    white-space:nowrap;
    text-align: center;

}

.popup_close {
    position: absolute;
    width: 15px;
    height: 15px;
    color: #000;
    top: 5px;
    right: 15px;
    text-decoration: none;
}

.winner{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 45%; 
    right: 50%;
    transform: translate(50%,-50%);
}


.winner__text{
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px #919191,
                1px 4px 1px #919191,
                1px 5px 1px #919191,
                1px 6px 1px #919191,
                1px 7px 1px #919191,
                1px 8px 1px #919191,
                1px 9px 1px #919191,
                1px 10px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);
    visibility: hidden;
}

.winner__animation{
    visibility: visible;
    animation: winner 3s ease-in-out;
}
@keyframes winner {
    0% {
        /* transform:  */
        transform: translate(+50%, -50%) scale(0.2);
        opacity: 0;
    }
    
    20% {
        transform: translate(+35%, -35%) scale(0.4);
        color: var(--main-color);
    }

    60% {
        transform: translate(+65%, -65%) scale(0.6);
    }

    80% {
        transform: translate(+35%, -35%) scale(0.8);
        color: var(--main-color);
    }

    100% {
        transform: translate(+50%, -50%) scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {

    .game-field {
        max-width: 900px;
        min-height: 900px;
    }
}

@media screen and (max-width: 1024px) {
    body {
    font-size: 18pt;
    }

    .header__title {
        font-size: 40px;
        padding: 10px;
    }

    .game-field {
        max-width: 700px;
        min-height: 700px;
    }

    .menu__button {
        max-width: 160px;
        height: 50px;
    }
    .menu__body {
        max-width: 160px;
    }
    .popup__content {
        max-width: 600px;
        
    }
    .popup__title {
        font-size: 24pt;
    }
}

@media screen and (max-width: 870px) {

    .game-field {
        max-width: 600px;
        min-height: 600px;
    }

}

@media screen and (max-width: 768px) {
    body {
        font-size: 16pt;
    }
    
    .header__title {
        font-size: 25px;
    }

    .header__logo{
        width: 100px;
        height: 50px;
        margin: 0 10px;
        
    }

    .memory-game{
        border: 5px solid var(--main-color);
    }

    .game-field {
        max-width: 670px;
        min-height: 670px;
    }

    .card{
        width: calc(25% - 10px) ;
        height: calc(25% - 10px) ;
        border: 4px solid var(--main-color);
        margin: 5px;
    }
    .menu {
        width: 70px;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;
        padding-right: 10px;
    }

    .menu__button:last-child {
        margin: 0 0 30px 0 ;
    }

    .menu__button {
        width: 50px;
        height: 50px;
        position: relative;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    .menu__button-new-game {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu__button-results {
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu__button-sound {
        order: 3;
        display: flex;
        align-items:flex-start;
        justify-content: center;
        line-height: 1.8;
    }

    .menu__body {
        max-width: 70px;
        font-size: 16px;
        margin: auto 0;
        /* padding: 5px 0; */
        order: 4;
    }

    .menu__body-timer{
       white-space:wrap;
    }

    .menu__body-score{
        white-space:wrap;
    }

    .menu__body-best-result{
        display: none;
    }

    .menu__body-value-best-result{
        display: none;
    }


    .popup__content {
        max-width: 500px;
        
    }
    .popup__title {
        font-size: 20pt;
    }

    .winner__text{
        font-size: 70px;
    }
}

@media screen and (max-width: 680px) {
    
    .game-field {
        max-width: 580px;
        min-height: 580px;
    }
    .menu__button {
        width: 50px;
        height: 50px;
        position: relative;
        border-radius: 50%;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 570px) {
    body {
        font-size: 14pt;
    }

    .game-field {
        max-width: 450px;
        min-height: 450px;
    }
    .menu__button {
        width: 50px;
        height: 50px;
        position: relative;
        border-radius: 50%;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 470px) {
    .game-field {
        max-width: 350px;
        min-height: 350px;
    }
}
